body {
	background-color: #fff;
	font-family:  "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 11pt;
	margin: 0;
	padding: 0;
}

header {
	padding: 0;
	background: #2578C5 url("../res/images/background2.png") repeat-x 0 -245px;
	height: 160px;
	border-bottom: 1px solid #000;
}

header h1 {
	opacity: 0.5;
	margin: 0;
	color: #efefef;
	background-color: #222;
	border-bottom: 1px solid #888;
}

a {
	color: hsl(200, 40%, 40%);
	text-decoration: none;
}

h1 a {
	color: hsl(200, 40%, 80%);
	text-decoration: none;
	padding-left: 0.2em;
}

.note {
	font-size: 10pt;
	text-align: left;
}

section {
	width: 80%;
	margin: 40px auto;
	padding: 15px 15px 8px 15px;
}

section canvas {
	box-shadow: 0px 5px 8px #aaa;
	border-radius: 5px;
	display: block;
	margin: auto;
}

/*iPhone < 5*/:
@media screen and (device-aspect-ratio: 2/3) {
	section {
		width: 80%;
		overflow: hidden;
		box-shadow: none;
	}

	section canvas {
		position:absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		border: 0;
	}
}
/*iPhone 5*/
@media screen and (device-aspect-ratio: 40/71) {

	section {
		width: 80%;
		overflow: hidden;
		box-shadow: none;
	}

	section canvas {
		position:absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		border: 0;
	}
}
/*iPad*/
@media screen and (device-aspect-ratio: 3/4) {

	section {
		width: 10px;
		height: 10px;
		overflow: hidden;
		border-radius: 0;
		box-shadow: none;
	}

	section canvas {
		position:absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		border: 0;
	}

}

ul {
	text-align: left;
	list-style: none;
	line-height: 20px;
	margin: 0 0 0 40px;
	padding: 0;
}

canvas {
	image-rendering: optimizeSpeed;
	image-rendering:-o-crisp-edges;
	image-rendering:-webkit-optimize-contrast;
	-ms-interpolation-mode: nearest-neighbor;
}

section canvas:-webkit-full-screen {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

canvas:-webkit-full-screen {
	border: 0;
}


#board {}

a.home {
	display: block;
	margin-top:20px;
	text-align: left;
	padding: 4px 6px;
	background-color: #078cd7;
	border-radius:  4px;
	width: 30px;
	color: #fff;
}