body {
	background: rgb(155, 230, 255) url("../res/images/background.png") no-repeat;
	background-size: cover;
	font-family: courier, monospace;
	margin: 0;
	padding: 0;
}

a {
	color: hsl(200, 40%, 40%);
}

section {
	border-radius: 5px;
	background-color: #fefefe;
	width: 50%;
	margin: 40px auto;
	padding: 15px 15px 8px 15px;
	text-align: center;
	box-shadow: 0 15px 20px rgba(0,0,0,0.5)
}

/*iPhone < 5*/:
@media screen and (device-aspect-ratio: 2/3) {
	section {
		width: 80%;
		overflow: hidden;
		box-shadow: none;
	}

	section canvas {
		position:absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
	}
}
/*iPhone 5*/
@media screen and (device-aspect-ratio: 40/71) {

	section {
		width: 80%;
		overflow: hidden;
		box-shadow: none;
	}

	section canvas {
		position:absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
	}
}
/*iPad*/
@media screen and (device-aspect-ratio: 3/4) {

	section {
		width: 10px;
		height: 10px;
		overflow: hidden;
		border-radius: 0;
		box-shadow: none;
	}

	section canvas {
		position:absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
	}

}

ul {
	list-style: none;
	line-height: 30px;
	margin: 0;
	padding: 0;
}

#board {}

a.home {
	display: block;
	font-size: 7pt;
	text-align: left;
	padding-left: 4px;
}