body {
    background-color: #efefef;
    margin: 0;
    padding: 0;
    font-family: helvetica, arial, sans-serif;
    font-size: 9pt;

    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

a {
    color: #760635;
}

.tip a {
    /*color: #888;*/
}

section {
    text-align:center;
}

canvas {
    margin-top: 35px;
    border: 4px solid #333;
    padding: 25px 3px 35px 3px;
    border-radius: 15px;
    background-color: #111;
}

footer {
    opacity: 0.8;
    position: absolute;
    bottom: 0;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.5);
    display: block;
    width: 100%;
    overflow: hidden;

}

footer > div {
    float: left;
    vertical-align: center
}
footer > div:first-child {
    padding: 8px 20px;
}

.desc {
    padding: 4px 10px 0px 4px;
}

footer > div#twitter {
    float: right;
}